.Register, .Register .card {
    display: flex;
    align-items: center;
}

.Register {
    min-height: calc(100vh - var(--navbar-height));
    height: 100%;
    max-height: calc(100vh - var(--navbar-height));
    width: 100%;
    max-width: 100vw;
    background: var(--dark-blue);
    justify-content: center;
}

a, div, h1, h2, h3, h4, h5, h6, ol, p, span, ul {
    margin: 0;
    font-family: "Kanit",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    color: var(--font-dark);
}

* {
    box-sizing: border-box;
}

.Register .card {
    min-height: 600px;
    width: 520px;
    padding: 24px 36px 0;
    flex-direction: column;
}

.Register, .Register .card {
    display: flex;
    align-items: center;
}

.Register .card h2 {
    font-size: 42px;
    margin-bottom: 4px;
    font-weight: 600;
    color: var(--pure-white);
}

h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.Register .card .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 10px;
    color: var(--pure-white);
}